* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
}

.tekst {
    grid-area: tekst;
}

.benis {
    grid-area: schmenis;
}

#postit1 {
    grid-area: img;
}

#postit2 {
    grid-area: image;
}

#postit3 {
    grid-area: bilde;
}

#postit4 {
    grid-area: bld;
}

.tekst1 {
    grid-area: tekst1;
}

.nice {
    grid-area: text;
}

#logo {
    display: inline-block;
    float: left;
    position: relative;
    padding-top: 16px;
}

#background {
    background-image: url("./bilder/proxy.duckduckgo.com.jpeg");
    background-size: cover;
    background-position: center;
    height: 1187px;
}


#navbar {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sentrer {
    width: 100%;
    background-image: linear-gradient(to bottom right, #ff9400, #ffdd00);
    margin: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#navbar li {
    float: left;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 30px 2.5vw;
    text-decoration: none;
    font-weight: bold;
    font-family: Roboto;
    font-size: 20px;
    color: #fff;
}

li a:hover {
    text-decoration: underline;
}

#navbar li {
    display: inline-block;
}

/*end navbar*/

.underCover {
    text-align: center;
    padding: 2.5% 25% 3vh 25%;
}

.underCover h2 {
    padding: 10px 0px;
}


.greyfancystrek {
    border: 1px solid grey;
    width: 56%;
    margin: 0px 22%;
    opacity: 0.2;
}


.whitePicRight {
    text-align: left;
    padding: 3vh 25%;
    display: grid;
    grid-template-areas: 'schmenis img';
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    -webkit-animation: fadein 4.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4.5s;
    /* Firefox < 16 */
    -ms-animation: fadein 4.5s;
    /* Internet Explorer */
    -o-animation: fadein 4.5s;
    /* Opera < 12.1 */
    animation: fadein 4.5s;
}

.whitePicRight img {
    float: right;
    width: 20vw;
    min-width: 250px;
    box-shadow: 5px 8px 15px 5px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
}

.coloredPicLeft {
    display: grid;
    grid-template-areas: 'image text';
    text-align: left;
    padding: 15vh 25%;
    background-image: linear-gradient(to bottom right, #ff9400, #ffdd00);
    box-shadow: 16px 8px 16px 8px rgba(0, 0, 0, 0.2);
    -webkit-animation: fadein 5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s;
    /* Firefox < 16 */
    -ms-animation: fadein 5s;
    /* Internet Explorer */
    -o-animation: fadein 5s;
    /* Opera < 12.1 */
    animation: fadein 5s;
}

.coloredPicLeft img {
    float: left;
    width: 20vw;
    min-width: 300px;
    margin-right: 2.5vw;
    box-shadow: 5px 8px 15px 5px rgba(0, 0, 0, 0.2);
}

.secondWhitePicRight {
    text-align: left;
    display: grid;
    grid-template-areas: 'tekst bilde';
    padding: 10vh 25%;
    padding-bottom: 15vh;
    -webkit-animation: fadein 6s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 6s;
    /* Firefox < 16 */
    -ms-animation: fadein 6s;
    /* Internet Explorer */
    -o-animation: fadein 6s;
    /* Opera < 12.1 */
    animation: fadein 6s;
}

.secondWhitePicRight img {
    float: right;
    width: 25vw;
    min-width: 300px;
    margin-left: 2.5vw;
    box-shadow: 5px 8px 15px 5px rgba(0, 0, 0, 0.2);
}

.coloredPicAbove {
    text-align: center;
    display: grid;
    grid-template-areas: 'bld''tekst1';
    padding: 10vh 25%;
    background-image: linear-gradient(to bottom right, #ff9400, #ffdd00);
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.2);
    -webkit-animation: fadein 7s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 7s;
    /* Firefox < 16 */
    -ms-animation: fadein 7s;
    /* Internet Explorer */
    -o-animation: fadein 7s;
    /* Opera < 12.1 */
    animation: fadein 7s;
}

.coloredPicAbove img {
    float: center;
    width: 35vw;
    min-width: 300px;
    margin-left: 7.5vw;
    margin-bottom: 3vh;
    box-shadow: 5px 8px 15px 5px rgba(0, 0, 0, 0.2);

}

footer {
    padding: 10vh 15vw;
    color: #fff;
    background-color: #243746;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #e5e5e5;
}

#samlepunktlogo {
    height: 50px;
}

#facebooklogo {
    height: 32px;
    margin-top: 10px;
    padding-right: 2px;
}

#linkedinlogo {
    height: 32px;
    margin-top: 10px;
    padding-right: 2px;
}

#twitlogo {
    height: 32px;
    margin-top: 10px;
    padding-right: 2px;
}

/* CSS EXCLUSIVE FOR FEATURES */

.coverphoto {
    background-color: #000;
}

.coverphoto img {
    width: 30vw;
    height: auto;
    padding: 0px 35%;
}

/* END OF STYLING FOR FEATURES */

/* STYLING FOR ABONNERINGSBAREN I FOOTEREN */

/* Add some padding and a grey background color to containers */
.container1 {
    margin: 0;
    padding-top: 10px;
    background-color: #243746;
}

.container2 {
    display: grid;
    margin-top: 5px;
    margin-right: 40%;
    padding: 5px 0px;
    grid-template-areas: 'input knapp'
}

/* Style the input elements and the submit button */
input[type=text] {
    padding: 3% 0px;
    width: 100%;
    border: 1px solid #ccc;
    grid-area: input;
}

/* Style the submit button */
input[type=submit] {
    width: 40%;
    margin-left: 15px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    grid-area: knapp;
}

input[type=submit]:hover {
    opacity: 0.8;
}
/* END OF STYLING FOR SUBSCRIPTION BAR */


/* CSS ANIMATIONS */
section {
    /* CSS ANIMATION TO MAKE THE CONTENT FADE IN */
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0.05;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0.05;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0.05;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0.05;
    }

    to {
        opacity: 1;
    }
}

/* Adaptation for medium sized screens */
@media screen and (max-width: 1350px) {
    .whitePicRight {
        padding: 3vh 20%;
    }

    .coloredPicLeft {
        padding: 15vh 20%;
    }

    .secondWhitePicRight {
        padding: 10vh 20%;
    }
}

/* Adaptation for mobile screens */

@media screen and (max-width:950px) {

    .underCover {
        padding: 3vh 15%;
    }

    .coloredPicLeft {
        display: grid;
        grid-template-areas: 'image''text';
    }

    .whitePicRight {
        grid-template-areas: 'img''schmenis';
        padding: 3vh 15%;
        text-align: center;
    }

    .whitePicRight img {
        margin-left: 10vw;
        margin-bottom: 20px;
        width: 50vw;
        height: auto;
        min-width: 0px;
    }

    .coloredPicLeft {
        text-align: center;
        padding: 10vh 15%;
    }

    .coloredPicLeft img {
        width: 50vw;
        height: auto;
        margin-bottom: 20px;
        margin-left: 9.5vw;
        min-width: 0;
    }

    .secondWhitePicRight {
        grid-template-areas: 'bilde''tekst';
        padding: 10vh 15%;
        text-align: center;
    }

    .secondWhitePicRight img {
        padding-left: 0vw;
        margin-left: 11vw;
        margin-bottom: 20px;
        width: 50vw;
        height: auto;
        min-width: 0px;
    }

    .coloredPicAbove {
        padding: 10vh 15%;
    }

    .coloredPicAbove img {
        width: 50vw;
        margin-left: 11vw;
        min-width: 0px;
    }

    footer {
        padding: 5vh 15vw;
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {}
