* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    word-break: break-word;
}

body {
    height: 100%;
}

/* GIVING GRIDAREAS TO DIFFERENT GRID-CONTAINERS SO I COULD POSITION THEM LATER */
.tekst {
    grid-area: tekst;
}

.benis {
    grid-area: schmenis;
}

#postit1 {
    grid-area: img;
}

#postit2 {
    grid-area: image;
}

#postit3 {
    grid-area: bilde;
}

#postit4 {
    grid-area: bld;
}

.tekst1 {
    grid-area: tekst1;
}

.nice {
    grid-area: text;
}

/* END FOR GRID AREA CONTAINERS */




#background {
    background-image: url("./bilder/proxy.duckduckgo.com.jpeg");
    background-size: cover;
    background-position: center;
    height: 700px;
}

/* STYLING NAVBAR */

.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#nav {
    background-image: linear-gradient(to bottom right, #ff9400, #ffdd00);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    height: 22mm;
}

/* STYLING FOR LOGO IN NAVBAR*/
#logo {

    padding: 5px;
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    line-height: inherit;
    left : 3rem;
    position: absolute;
}






#spraak {
    margin-top: 6mm;
    padding: 7px;
    display: inline-block;
    padding-top: .4rem;
    padding-bottom: .4rem;
    margin-right: 0mm;
    font-size: 1.5rem;
    line-height: inherit;
    white-space: nowrap;
    right: 2rem;
    position: absolute;
}



.navbar-nav li {
    display: inline-block;


}

.navbar-nav li a {
    display: inline-block;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-weight: bold;
    font-family: Roboto;
    font-size: 20px;
    color: #efffff;

}
/*END NAVBAR*/

.underCover {
    text-align: center;
    padding: 2.5% 25% 3vh 25%;
}

.underCover h2 {
    padding: 10px 0px;
}


.greyfancystrek {
    border: 1px solid grey;
    width: 56%;
    margin: 0px 22%;
    opacity: 0.2;
}

/* STYLING FOR LEFT/RIGHT DIVS */
.whitePicRight {
    text-align: left;
    padding: 3vh 25%;
    display: grid;
    grid-template-areas: 'schmenis img';
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    -webkit-animation: fadeinright 4.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinright 4.5s;
    /* Firefox < 16 */
    -ms-animation: fadeinright 4.5s;
    /* Internet Explorer */
    -o-animation: fadeinright 4.5s;
    /* Opera < 12.1 */
    animation: fadeinright 4.5s;
}

.whitePicRight img {
    float: right;
    width: 20vw;
    min-width: 250px;
    box-shadow: 5px 8px 15px 5px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
}

.colordiv {
    background-image: linear-gradient(to bottom right, #ff9400, #ffdd00);
}

.coloredPicLeft {
    display: grid;
    grid-template-areas: 'image text';
    text-align: left;
    padding: 15vh 25%;
    background-image: linear-gradient(to bottom right, #ff9400, #ffdd00);
    box-shadow: -3px 8px 16px 8px rgba(0, 0, 0, 0.2);
    -webkit-animation: fadeinleft 6s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinleft 6s;
    /* Firefox < 16 */
    -ms-animation: fadeinleft 6s;
    /* Internet Explorer */
    -o-animation: fadeinleft 6s;
    /* Opera < 12.1 */
    animation: fadeinleft 6s;
}

.coloredPicLeft img {
    float: left;
    width: 20vw;
    min-width: 300px;
    margin-right: 2.5vw;
    box-shadow: 5px 8px 15px 5px rgba(0, 0, 0, 0.2);
}

.secondWhitePicRight {
    text-align: left;
    display: grid;
    grid-template-areas: 'tekst bilde';
    padding: 10vh 25%;
    padding-bottom: 15vh;
    -webkit-animation: fadeinright 7s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinright 7s;
    /* Firefox < 16 */
    -ms-animation: fadeinright 7s;
    /* Internet Explorer */
    -o-animation: fadeinright 7s;
    /* Opera < 12.1 */
    animation: fadeinright 7s;
}

.secondWhitePicRight img {
    float: right;
    width: 25vw;
    min-width: 300px;
    margin-left: 2.5vw;
    box-shadow: 5px 8px 15px 5px rgba(0, 0, 0, 0.2);
}

.coloredPicAbove {
    text-align: center;
    display: grid;
    grid-template-areas: 'bld''tekst1';
    padding: 10vh 25%;
    background-image: linear-gradient(to bottom right, #ff9400, #ffdd00);
    box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.2);
    -webkit-animation: fadein 7s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 7s;
    /* Firefox < 16 */
    -ms-animation: fadein 7s;
    /* Internet Explorer */
    -o-animation: fadein 7s;
    /* Opera < 12.1 */
    animation: fadein 7s;
}

.coloredPicAbove img {
    float: center;
    width: 35vw;
    min-width: 300px;
    margin-left: 7.5vw;
    margin-bottom: 3vh;
    box-shadow: 5px 8px 15px 5px rgba(0, 0, 0, 0.2);
}

/* END OF STYLING FOR LEFT/RIGHT DIVS */

/* STYLING FOR FOOTER */
footer {
    padding: 10vh 15vw;
    color: #fff;
    background-color: #243746;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #e5e5e5;
}

#samlepunktlogo {
    height: 50px;
}

#facebooklogo {
    height: 32px;
    margin-top: 10px;
    padding-right: 2px;
}

#linkedinlogo {
    height: 32px;
    margin-top: 10px;
    padding-right: 2px;
}

#twitlogo {
    height: 32px;
    margin-top: 10px;
    padding-right: 2px;
}

/* END OF STYLING FOR FOOTER */

/* CSS EXCLUSIVE FOR FEATURES */

.coverphoto {
    background-color: #000;
}

.coverphoto img {
    width: 30%;
    height: auto;
    margin: 0px 35%;
}

.introduksjonstekst {
    padding: 5vh 20%;
    text-align: center;
    background-image: linear-gradient(to bottom right, #ff9400, #ffdd00);
}

#demo1 {
    grid-area: demo1;
    width: 28vw;
}

.gridbullets1 {
    grid-area: bullets1;
}

#demo2 {
    grid-area: demo2;
    width: 28vw;
}

.gridbullets2 {
    grid-area: bullets2;
}

#demo3 {
    grid-area: demo3;
    width: 28vw;
}

.gridbullets3 {
    grid-area: bullets3;
}


.grid2x3 {
    padding: 2vh 0%;
}

.gridcombo1{
    display: grid;
    grid-template-areas: 'demo1 bullets1';
}

.gridcombo2 {
    display: grid;
    grid-template-areas: 'bullets2 demo2';
}

.gridcombo3{
    display: grid;
    grid-template-areas: 'demo3 bullets3';
}
/* END OF STYLING FOR FEATURES */

/* STYLING FOR ABONNERINGSBAREN I FOOTEREN */

.container1 {
    margin: 0;
    padding-top: 10px;
    background-color: #243746;
}

.container2 {
    display: grid;
    margin-top: 5px;
    margin-right: 25%;
    padding: 5px 0px;
    grid-template-areas: 'input knapp'
}

input[type=text] {
    padding: 3% 0px;
    width: 100%;
    border: 1px solid #e5e5e5;
    grid-area: input;
}

input[type=submit] {
    width: 40%;
    margin-left: 20px;
    background-color: #fff;
    color: #000;
    border: 1px solid #e5e5e5;
    grid-area: knapp;
}

input[type=submit]:hover {
    opacity: 0.8;
}

/* END OF STYLING FOR SUBSCRIPTION BAR */


/* CSS ANIMATIONS */

@keyframes fadein {
    0% {
        opacity: 0.05;
    }

    100% {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0.05;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0.05;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0.05;
    }

    to {
        opacity: 1;
    }
}

/* CSS ANIMATION FOR SLIDE IN FROM RIGHT AND FADE IN */
@keyframes fadeinright {
    0% {
        opacity: 0.05;
        transform: translateX(20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeinright {
    from {
        opacity: 0.05;
        transform: translateX(20%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinright {
    from {
        opacity: 0.05;
        transform: translateX(20%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Internet Explorer */
@-ms-keyframes fadeinright {
    from {
        opacity: 0.05;
        transform: translateX(20%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* END OF CSS ANIMATIONS FOR SLIDE RIGHT + FADE IN */

/* CSS ANIMATION FOR SLIDE IN FROM LEFT AND FADE IN */
@keyframes fadeinleft {
    0% {
        opacity: 0.05;
        transform: translateX(-20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeinleft {
    from {
        opacity: 0.05;
        transform: translateX(-20%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinleft {
    from {
        opacity: 0.05;
        transform: translateX(-20%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Internet Explorer */
@-ms-keyframes fadeinleft {
    from {
        opacity: 0.05;
        transform: translateX(-20%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Adaptation for medium sized screens */
@media screen and (max-width: 1350px) {
    .whitePicRight {
        padding: 3vh 20%;
    }

    .coloredPicLeft {
        padding: 15vh 20%;
    }

    .secondWhitePicRight {
        padding: 10vh 20%;
    }
}

/* Adaptation for mobile screens */

@media screen and (max-width:950px) {
    
    
    

    .underCover {
        padding: 3vh 15%;
    }

    .coloredPicLeft {
        display: grid;
        grid-template-areas: 'image''text';
    }

    .whitePicRight {
        grid-template-areas: 'img''schmenis';
        padding: 3vh 15%;
        text-align: center;
    }

    .whitePicRight img {
        margin-left: 10vw;
        margin-bottom: 20px;
        width: 50vw;
        height: auto;
        min-width: 0px;
    }

    .coloredPicLeft {
        text-align: center;
        padding: 10vh 15%;
    }

    .coloredPicLeft img {
        width: 50vw;
        height: auto;
        margin-bottom: 20px;
        margin-left: 9.5vw;
        min-width: 0;
    }

    .secondWhitePicRight {
        grid-template-areas: 'bilde''tekst';
        padding: 10vh 15%;
        text-align: center;
    }

    .secondWhitePicRight img {
        padding-left: 0vw;
        margin-left: 11vw;
        margin-bottom: 20px;
        width: 50vw;
        height: auto;
        min-width: 0px;
    }

    .coloredPicAbove {
        padding: 10vh 15%;
    }

    .coloredPicAbove img {
        width: 50vw;
        margin-left: 11vw;
        min-width: 0px;
    }

    footer {
        padding: 5vh 15vw;
    }

    input[type=submit] {
        width: 100%;
        margin-left: 20%;
    }

    .grid2x3 {
        padding: 2vh 0;
        display: grid;
    }

    #demo1 {
        width: 40vw;
    }

    .gridbullets1 {
        
    }

    #demo2 {
        
        width: 40vw;
    }

    .gridbullets2 {
        
    }

    #demo3 {
        width: 40vw;
    }

    .gridbullets3 {
    }

    .gridcombo1 {
        grid-template-areas: 'demo1' 'bullets1';
    }
    
    .gridcombo2 {
        grid-template-areas: 'demo2' 'bullets2';
    }
    
    .gridcombo3 {
        grid-template-areas: 'demo3' 'bullets3';
    }
    

}


@media only screen and (max-device-width : 600px) {

    .navbar-nav {
        
        justify-content: center;
    }

    #logo {


        margin-top: auto;
        padding: 3px;
        display: inline-block;
        padding-top: .2125rem;
        padding-bottom: .2125rem;
        left:    2rem;
        font-size: .7rem;
        line-height: inherit;
        white-space: nowrap;
        max-height: 13mm;
        position: absolute;
    }

   #spraak {
    margin-top: 2mm;
    padding: 3px;
    display: inline-block;
    padding-top: .4rem;
    padding-bottom: .4rem;
    margin-right: 0mm;
    font-size: 1rem;
    line-height: hide;
    white-space: hide;
    right: 1rem;
    position: absolute;
}
    
    
    
    #nav {

        height: 15mm;
    }


   .navbar-nav li a {
        font-size: 18px;
        padding: 4.5mm;

    }

}
@media only screen and (max-device-width : 490px) {
    
    #spraak {
        display: none;
    }
    #logo {
        display: none;
        margin-left: -4rem;
    }
     #nav {

        height: 15mm;
    }
    
    .navbar-nav {
        flex-direction: ; 
    }
    
    .navbar-nav {
        
    }

    
}

@media only screen and (max-device-width : 400px) {
    #logo {
        display: none;
    }

    .navbar-nav {
        margin-left: -2rem;
    }

    #spraak {
        display: none;
    }

}