#omoss {
    display: block;
    width: 100%;
    line-height: 1.6em;
    margin-bottom: 3rem;
    background-color: azure;
}



#omoss #team {
    text-align: center;
    margin: auto;
    width: 80%;
    background-color: azure;



}

#omoss #team ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 3rem;
    
}

#omoss #team ul li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCCCCC;
    background-color: ;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#omoss #team ul li figure figcaption p {
    margin: 15px 0 0 0;
    padding: 0;
}

#omoss #team ul li figure figcaption .team_name {
    font-weight: bold;
    line-height: normal;
}

#omoss #team ul li figure figcaption .team_title {
    margin: 0;
    font-size: 11px;
    line-height: normal;
}

#omoss #team ul ul {
    margin-top: 20px;
}

#omoss #team ul ul li {
    display: inline;
    margin: 0 0 0 6px;
    padding: 0;
    border: none;
}

#omoss #team ul li #skillset {
    line-height: normal;
    text-align: left;
}

#omoss #team ul li #skillset ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#omoss #team ul li #skillset ul li {
    display: block;
    margin: 8px 0 0 0;
    padding: 3px;
    color: #333333;
    background-color: #E2E2E2;
}




.kolonnerekkefolge {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.split-ul {
    display: flex;
    flex-direction: row;

}

.split {
    width: 50%;
    top: 0;
    padding-top: 20px;
}

.left {

    background-color: #ff9933;
}

.right {

    background-color: cadetblue;
}

@media screen and (max-width:950px) {

    .split-ul {
        display: flex;
        flex-direction: column;

    }

    .split {
        width: 100%;

    }