* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    word-break: break-word;
    font-size: 16px;
}

body {
    height: 100%;
}


/* STYLING NAVBAR */

#navbar {
    background-image: linear-gradient(to bottom right, #ff9400, #ffdd00);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;

}

#logo {

    padding-top: .2125rem;
    padding-bottom: .2125rem;
    left: 6rem;
    -webkit-filter: drop-shadow(20px 20px 25px rgb(0, 0, 0));
    display: table;
    position: absolute;


}

#logo2 {
    padding: 8px;
    display: none;
    padding-top: 0;
    padding-left: 0;
    margin: 0;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    line-height: inherit;
    left: 3rem;

    -webkit-filter: drop-shadow(20px 20px 25px rgb(0, 0, 0));
}

#english {
    top: 1.3rem;
    right: 4rem;
    position: absolute;

}


#navbar li {
    float: left;
}

#navbar li a {
    text-decoration: none;
    font-weight: bold;
    font-family: Roboto;
    font-size: 1.2rem;
    color: #efffff;
    text-shadow: 2px 2px 8px #ef6000;
    font-size: 18px;
    display: inline-block;
    padding: 30px;


}

.table {

    display: table;
    margin: 0 auto;
}

ul#horizontal-list {
    list-style: none;
}

ul#horizontal-list li {
    display: inline;
}


.dropbtn {
    display: none;
}

.dropdown {
    display: none;
}

#navbar li a:hover,
.dropdown:hover .dropbtn {
    color: #243746;
}

#navbar li.dropdown {
    display: inline-block;

}

.dropdown-content {
    display: none;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    position: absolute:
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #243746;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
    width: 20%;
}

/*END NAVBAR*/


.coverphoto {
    background-image: url("../bilder/greyscalefinal.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
    
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    
    
    padding: 7vh 0;
    
}

.coverphoto img {
    width: 30%;
    height: auto;
    margin: 0px 35%;
    background-color: rgb(0,0,0, 0.6);
    border-radius: 10px;
}

.introduksjonstekst {
    padding: 10vh 20%;
    text-align: center;
    background-image: linear-gradient(to bottom right, #ff9400, #ffdd00);
}

#demo1 {
    grid-area: demo1;
    width: 20vw;
    padding-left: 17%;
}

.gridbullets1 {
    grid-area: bullets1;
    width: 50vw;
    text-align: center;
    padding: 10%;

}

#demo2 {
    grid-area: demo2;
    width: 20vw;
    padding: 10% 0;
}

.gridbullets2 {
    grid-area: bullets2;
    width: 50vw;
    text-align: left;
    padding: 20% 10%;
    font-size: 16px;
}

#demo3 {
    grid-area: demo3;
    width: 20vw;
}

.gridbullets3 {
    grid-area: bullets3;
}

.grid2x3 {
    padding: 2vh 5%;
}

.gridcombo1 {
    display: grid;
    grid-template-areas: 'demo1 bullets1';
    padding: 10px 0;
}

.gridcombo2 {
    display: grid;
    grid-template-areas: 'bullets2 demo2';
    padding: 10px 0;
}

.gridcombo3 {
    display: grid;
    grid-template-areas: 'demo3 bullets3';
    padding: 10px 0;
}

footer {
    padding: 10vh 15vw;
    color: #fff;
    background-color: #243746;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #e5e5e5;
}

#samlepunktlogo {
    height: 50px;
}

#facebooklogo {
    height: 32px;
    margin-top: 10px;
    padding-right: 2px;
}

#linkedinlogo {
    height: 32px;
    margin-top: 10px;
    padding-right: 2px;
}

#twitlogo {
    height: 32px;
    margin-top: 10px;
    padding-right: 2px;
}

@media screen and (max-width: 1010px) {
    .coverphoto {
    padding: 0 0;
    }
}

@media screen and (max-width: 950px) {
    .grid2x3 {
        padding: 2vh 0;
        display: grid;
    }

    #demo1 {
        width: 40vw;
    }

    .gridbullets1 {}

    #demo2 {

        width: 40vw;
    }

    .gridbullets2 {}

    #demo3 {
        width: 40vw;
    }

    .gridbullets3 {}

    .gridcombo1 {
        grid-template-areas: 'demo1''bullets1';
    }

    .gridcombo2 {
        grid-template-areas: 'demo2''bullets2';
    }

    .gridcombo3 {
        grid-template-areas: 'demo3''bullets3';
    }


    #logo {
        left: 3rem;
    }

    #english {
        right: 2rem;
    }

    .dropdown,
    .dropbtn,
    dropdown-content {
        display: none;
    }


}

@media screen and (max-width:700px) {

    .dropbtn {
        display: block;
        padding: 0.7rem;
        left: 0rem;
        position: absolute;
    }

    .big_menu {
        display: none;
    }

    #logo {
        display: none;
    }

    #logo2 {
        display: inline;
        padding-top: 0.3rem;
    }


    #english {
        top: 1rem;
        right: 1rem;
        height: 2rem;
    }

    .dropdown-content {
        position: absolute;
        left: 0rem;
        top: 4rem;
    }

}
